body{
background: #304352;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Inconsolata', monospace;
}
#container{
    margin: 100px auto;
    width: 360px;
    background-color:#f7f7f7;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    font-size: 1.8rem;
}
.completed{
    color: gray;
    text-decoration:line-through ;
}
h1{
    background-color: khaki;
    color: #363636;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: normal;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    background-color: #fff;
    height:40px;
    line-height: 40px;
    color: #666;
}
li:nth-child(2n){
    background-color: #f7f7f7;
}
input{
    font-size: 1.5rem;
    width: 100%;
    padding: 13px 13px 13px 20px;
    color: #666666;
    box-sizing: border-box;
    background-color: #f7f7f7;
}
input:focus{
    background-color: #fff;
    border: 3px solid rgba(0,0,0,0);
}
.fa-pencil{
    float: right;
}
span{
    background-color: darkred;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    width: 0;
    transition: 0.2s linear;
    opacity: 0;

}
li:hover span{
    width: 50px;
    opacity: 1;
}